nodeSelector:
  role: monitoring

tolerations:
  - key: monitoring
    operator: Equal
    value: "true"
    effect: NoSchedule

resources:
  requests:
    cpu: 500m
    memory: 1Gi
  limits:
    cpu: 1
    memory: 2Gi

service:
  type: ClusterIP
