grafana:
  service:
    type: ClusterIP
  nodeSelector:
    role: monitoring
  tolerations:
    - key: monitoring
      operator: Equal
      value: "true"
      effect: NoSchedule

prometheus:
  prometheusSpec:
    nodeSelector:
      role: monitoring
    tolerations:
      - key: monitoring
        operator: Equal
        value: "true"
        effect: NoSchedule

alertmanager:
  alertmanagerSpec:
    nodeSelector:
      role: monitoring
    tolerations:
      - key: monitoring
        operator: Equal
        value: "true"
        effect: NoSchedule
