apiVersion: v1
kind: ConfigMap
metadata:
  name: filebeat-config
  namespace: observability

data:
  filebeat.yml: |
    filebeat.inputs:
      - type: container
        paths:
          - /var/log/containers/*.log

    output.logstash:
      hosts: ["logstash:5044"]
